<p class="comment"><%= comment.body%></p>
<%= link_to "Delete comment",
                        article_comment_path(comment.article, comment),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }
                      %>
<%= link_to "Edit comment",
                        edit_article_comment_path(comment.article, comment)
                      %>
