<h1><%= @article.title %></h1>
<p><%= @article.body %> </p>
<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form'%>
<%= link_to 'Delete article', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<%= link_to "<< Back to Articles List", articles_path %>

